@media (max-width: 480px) {
  .pc-header { display: none; }
  .mobile-header { display: flex; }
  .mobile-header.fixed { display: flex; }

  /* Welcome */
  .welcome { height: 430px; margin: 70px 0 0; }
  .welcome-img { display: none; }
  .welcome-con { width: 85%; }
  .welcome-text h1 { font-size: 33px; }

  /* New Arrival */
  .arrival { height: auto; }
  .arrival-con { width: 100%; padding: 20px; }
  .arrival-content { flex-direction: column; }
  .arrival-title { font-size: 33px; }
  .arrival-item { width: 100%; margin: 0 0 50px;}

  /* Popular */
  .popular { width: 480px; height: auto; padding: 0; }
  .popular-con { width: 100%; padding: 20px; box-sizing: border-box; }
  .popular-con h1 { width: 100%; }
  .popular-con h1 span { font-size: 33px; }
  .popular-content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 650px) 500px;
  }
   
  /* Choice */
  .choice { height: auto; }
  .choice-con { width: 100%; }
  .choice-card { flex-direction: column; width: 100%; margin: 0; }
  .choice-text { padding: 0 20px; box-sizing: border-box; margin: 0 0 40px; }
  .choice-text > h1 { font-size: 29px; }
  .choice-card img { width: 100%; margin: 0 0 40px; }

  /* Card */
  .card { height: auto; }
  .card-con { 
    flex-direction: column;
    width: 100%; 
    padding: 40px; 
    box-sizing: border-box;
  }
  .card-tag { width: 100%; margin: 0 0 60px; }

  /* Footer */
  footer { height: auto; justify-content: flex-start; padding: 0; }
  .footer-con { width: 100%; padding: 20px; margin: 0; }
  .footer-logo p { padding: 0; margin: 0 0 50px; }
  .sitemap { flex-direction: column; padding: 50px 0 0; }
  .sitemap div { width: 100%; }
  .sitemap ul { width: 100%; margin: 0 0 50px; }
  .copyright { flex-direction: column; line-height: 40px; }
  .copyright span { margin: 0 0 20px;  }
}